@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  height: 100vh;
  background: #15181e;
  padding: 100px;

  & > h1 {
    margin: 0;
    margin-bottom: 12px;
    color: #9cdcfe;
  }

  & > nav {
    display: flex;
    margin-bottom: 12px;

    & > a {
      color: #dcdcaa;
      margin: 0 12px;
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #dcdcaa;
        transition: all 300ms ease;
      }
      &.active {
        &::after {
          width: 50%;
        }
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  & > main {
    color: #ffffff;
    width: 100%;

    & > h2 {
      color: #c586c0;
    }

    & > nav {
      display: flex;
      margin-bottom: 12px;

      & > a {
        color: #dcdcaa;
        margin-right: 12px;
        text-decoration: none;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background: #dcdcaa;
          transition: all 300ms ease;
        }
        &.active {
          &::after {
            width: 50%;
          }
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    & > main {
      & > h4 {
        color: #ce9178;
      }
    }
  }
}
